.background_cont {
  background-image: linear-gradient(to bottom, black, #292828);
}
.home_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.load_cont {
  width: 100vh;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.unorder_list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
