.background_cont {
  background-image: linear-gradient(to bottom, black, #292828);
}
.home_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.load_cont {
  width: 100vh;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.unorder_list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
.page_cont {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px;
}
.page_button {
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 80px;
  color: white;
}
.page_para {
  color: white;
}
